{% extends "layout.html" %}
{% block body %}

<div class="block1">
    <h1 style="text-align: center;">Congratulations!!</h1>
    <h1>You have successfully deployed your web application using automated CI/CD from Bitbucket!!</h1>
    <BR>
    <h2 style="text-align: center;">Jenkins - AWS CodeBuild - AWS CodeDeploy</h2>

    &nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png"
        width="527" height="277" />
</div>
<p>{% endblock %}</p>